{{>header}}
	<!-- about section start -->
	<div class="about_section layout_padding">
		<div class="container">
			<h1 class="about_text">About Us</h1>
			<p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
			<div class="about_bt"><a href="#">Read More</a></div>
		</div>
	</div>
	<!-- about section end -->
	{{>footer}}