{{>header}}
	<!-- banner section stert -->
	<div class="banner_section">
		<div class="container-fluid">
			<section class="slide-wrapper">
                <div class="container-fluid">
	            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                    <ol class="carousel-indicators">
                       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                       <li data-target="#myCarousel" data-slide-to="1"></li>
                       <li data-target="#myCarousel" data-slide-to="2"></li>
                       <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
				            <div class="col-md-7">
					            <div class="images_1"><img src="images/banner-bg.png"></div>
					            <div class="banner_main">
						            <div class="banner_left">
							            <div class="red_bt"><a href="#">Read More</a></div>
						            </div>
						        <div class="banner_right">
						        	<h1 class="usiing_text">Using Cool camera</h1>
							        <p class="point_text">point of using Lorem Ipsum is that it has a more-or-less  
                                    distribution of letters,</p>
						        </div>
					        </div>
				        </div>
				            <div class="col-md-5">
					            <div class="images_2"><img src="images/img-1.png"></div>
				            </div>
			            </div>
                </div>
                <div class="carousel-item">
                   <div class="row">
				       <div class="col-md-7">
					       <div class="images_1"><img src="images/banner-bg.png"></div>
				        	<div class="banner_main">
					     	    <div class="banner_left">
							        <div class="red_bt"><a href="#">Read More</a></div>
						        </div>
						        <div class="banner_right">
							        <h1 class="usiing_text">Using Cool camera</h1>
							        <p class="point_text">point of using Lorem Ipsum is that it has a more-or-less  
                                    distribution of letters,</p>
						        </div>
					        </div>
				        </div>
				        <div class="col-md-5">
					        <div class="images_2"><img src="images/img-1.png"></div>
				        </div>
			        </div>
                </div>
                <div class="carousel-item">
                   <div class="row">
				       <div class="col-md-7">
					       <div class="images_1"><img src="images/banner-bg.png"></div>
				        	<div class="banner_main">
					     	    <div class="banner_left">
							        <div class="red_bt"><a href="#">Read More</a></div>
						        </div>
						        <div class="banner_right">
							        <h1 class="usiing_text">Using Cool camera</h1>
							        <p class="point_text">point of using Lorem Ipsum is that it has a more-or-less  
                                    distribution of letters,</p>
						        </div>
					        </div>
				        </div>
				        <div class="col-md-5">
					        <div class="images_2"><img src="images/img-1.png"></div>
				        </div>
			        </div>
                </div>
                <div class="carousel-item">
                   <div class="row">
				       <div class="col-md-7">
					       <div class="images_1"><img src="images/banner-bg.png"></div>
				        	<div class="banner_main">
					     	    <div class="banner_left">
							        <div class="red_bt"><a href="#">Read More</a></div>
						        </div>
						        <div class="banner_right">
							        <h1 class="usiing_text">Using Cool camera</h1>
							        <p class="point_text">point of using Lorem Ipsum is that it has a more-or-less  
                                    distribution of letters,</p>
						        </div>
					        </div>
				        </div>
				        <div class="col-md-5">
					        <div class="images_2"><img src="images/img-1.png"></div>
				        </div>
			        </div>
                </div>
            </div>
        </div>
    </div>
</section>
			
		</div>
	</div>
	<!-- banner section end -->
	<!-- about section start -->
	<div class="about_section layout_padding">
		<div class="container">
			<h1 class="about_text">About Us</h1>
			<p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
			<div class="about_bt"><a href="#">Read More</a></div>
		</div>
	</div>
	<!-- about section end -->
	<!-- Our cameras section start -->
	<div class="cameras_section layout_padding">
		<div class="container">
			<h1 class="Cameras_text">Our Cameras</h1>
			<div class="cameras_section_2">
				<div id="main_slider" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
					<div class="col-md-6">
						<div class="images_3"><img src="images/img-2.png"></div>
						<div class="taital_main">
							<h2 class="best_text">Best Camera</h2>
							<h2 class="dolar_text">$<span style="color: #874ce0;">400</span></h2>
						</div>
						<p class="lorem_ipsum_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
						<div class="bt_text"><a href="#">Read More</a></div>
					</div>
					<div class="col-md-6">
						<p class="ipsum_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
						<div class="images_3"><img src="images/img-3.png"></div>
						<div class="taital_main">
							<h2 class="camera_text">Best Camera</h2>
							<h2 class="dolar_text_2">$<span style="color: #874ce0;">400</span></h2>
						</div>
					</div>
				</div>
    </div>
    <div class="carousel-item">
      <div class="row">
					<div class="col-md-6">
						<div class="images_3"><img src="images/img-2.png"></div>
						<div class="taital_main">
							<h2 class="best_text">Best Camera</h2>
							<h2 class="dolar_text">$<span style="color: #874ce0;">400</span></h2>
						</div>
						<p class="lorem_ipsum_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
						<div class="bt_text"><a href="#">Read More</a></div>
					</div>
					<div class="col-md-6">
						<p class="ipsum_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
						<div class="images_3"><img src="images/img-3.png"></div>
						<div class="taital_main">
							<h2 class="camera_text">Best Camera</h2>
							<h2 class="dolar_text_2">$<span style="color: #874ce0;">400</span></h2>
						</div>
					</div>
				</div>
    </div>
    <div class="carousel-item">
      <div class="row">
					<div class="col-md-6">
						<div class="images_3"><img src="images/img-2.png"></div>
						<div class="taital_main">
							<h2 class="best_text">Best Camera</h2>
							<h2 class="dolar_text">$<span style="color: #874ce0;">400</span></h2>
						</div>
						<p class="lorem_ipsum_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
						<div class="bt_text"><a href="#">Read More</a></div>
					</div>
					<div class="col-md-6">
						<p class="ipsum_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
						<div class="images_3"><img src="images/img-3.png"></div>
						<div class="taital_main">
							<h2 class="camera_text">Best Camera</h2>
							<h2 class="dolar_text_2">$<span style="color: #874ce0;">400</span></h2>
						</div>
					</div>
				</div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
    <i class="fa fa-angle-left"></i></a>
  </a>
  <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
    <i class="fa fa-angle-right"></i>
  </a>
</div>
			</div> 
		</div>
	</div>
	<!-- Our cameras section end -->
	<!-- contact section start -->
	<div class="contact_section layout_padding">
		<div class="container">
			<h1 class="get_text">Get In Touch</h1>
			<div class="mail_section">
				<div class="row">
					<div class="col-md-6">
						<input type="" class="input_text" placeholder="Name" name="Name">
						<input type="" class="input_text" placeholder="Phone Number" name="Phone Number">
					</div>
					<div class="col-md-6">
						<input type="" class="input_text" placeholder="Email" name="Email">
						<select>
                            <option value="volvo">Type Of Camera</option>
                            <option value="saab">H D Camera</option>
                            <option value="opel">Videeo Camera</option>
                            <option value="audi">Images</option>
                        </select>
					</div>
				</div>
				<textarea name="comment" class="massage_box" form="usrform">You Wprds Message...</textarea>
				<div class="send_bt">
					<div class="send_text"><a href="#">SEND</a></div>
				</div>
			</div>
		</div>
	</div>
    <div class="container-fluid padding_0">
    	<div class="map_main">
    		<div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="508" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
            </div>
    	</div>
    </div>
	<!-- contact section end -->
   {{>footer}}